* {
  box-sizing: border-box;
}
body {
  background: #4ABDAC;
  
}

button:hover {
  cursor: pointer;
}


.calc-box {
  width: 600px;
  margin: 30px auto;
  background: #DFDCE3;
  /* background: rgb(201, 201, 201); */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.644);
}
.title-box {
  height: 80px;
  background: #FC4A1A;
  border-bottom: 2px solid rgba(0, 0, 0, 0.308);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  color: #4ABDAC;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.61);
  letter-spacing: 3px;
  font-size: 40px;
}

.calc-container {
  width: 90%;
  margin: 0 auto;

}
.screen-box {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.screen-box i {
  position: relative;
  top: 26px;
  left: 10px;
  font-size: 20px;
}
.operator-box {
  height: 0;
}
input {
  width: 100%;
  background: rgba(20, 46, 21, 0.356);
  border: none;
  border-radius: 3px;
  max-width: 100%;
  height: 70px;
  padding-right: 12px;
  text-align: right;
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
  box-shadow: inset 0 0 6px rgba(0,0,0,.637);
  background: rgba(146,164,113,.548);

  -webkit-appearance: none;
}
input:focus {
  outline: none;
}

.keypad-box {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
 button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.301);
  transition: 0.2s;
  background: rgb(212, 209, 216);
  border: 1px solid rgba(0, 0, 0, 0.288)
 }
 button:hover {
  font-size: 21px;
  border: 1px solid rgba(0, 0, 0, 0.486)
 }
.keypad-box button {
  width: 60px;
  height: 60px;
}
.operator-button {
  background: rgba(0, 0, 0, 0.164);
  border: 1px solid rgba(0, 0, 0, 0.329)
}

.operator-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.603)

}
.eql-btn-box {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding-bottom: 30px
}
.clear-btn {
  height: 60px; 
  width: 60px;
}
.fakey-box {
  height: 60px;
  width: 34px;
}
.equal-btn {
  width: 40%;
  height: 60px;
  font-size: 30px;
  margin-left: 100px;
  background: #FC4A1A;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.301);
}
.equal-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.493);
  font-size: 31px;
}

@media screen and (min-width: 320px) and (max-width: 660px) {
  .calc-box {
    max-width: 94%;
    margin: 20px auto;
  }
  h1 {
    font-size: 30px;
  }
  input {
    font-size: 32px;
    height: 50px;
    padding-top: 18px;
  }
  button {
    border-radius: none;
    background: #DFDCE3;
  }
  .screen-box i {
    top: 16px
  }
  .dbl-zero-btn {
    padding-left: 17px;
    background: rgba(255, 255, 255, 0)
  }
}